@import 'src/styles/index';

/*-------------------------------------------*\
  Container Roadster - Size Mobile
\*-------------------------------------------*/
.roadster {
  text-align: center;
  padding-bottom: 2rem;

  &-title {
    font-size: 2em;
    margin: 2rem auto;
    text-transform: uppercase;
  }

  &-name {
    font-size: 1.3em;
    margin: 1rem;
  }

  &-img {
    width: 90%;
    display: block;
    margin: 1rem;
    border-radius: 20px;
    @include boxShadowOutset(0, 0, 0, .7)
  }

  &-desc {
    text-align: justify;
    line-height: 1.3rem;
    width: 85%;
    margin: 1.3rem auto;
  }

  &-link {
    display: block;
    margin: 1rem auto;
    width: 50%;
    @include button;
    font-size: 13px;
    position: relative;
    text-transform: uppercase;
    
    & sup {
      position: absolute;
      font-size: 12px;
      top: 1px;
      right: 3px;
    }
  }
}

/*-------------------------------------------*\
  Container Roadster - Size Tablet
\*-------------------------------------------*/
@media only screen and (min-width: 768px) {
  .roadster {
    width: 60%;
    margin: 0 auto;

    // &-img {
    //   width: 100%;
    // }

    &-desc {
      width: 100%;
    }

    &-link {
      width: 35%;
    }
  }
}

/*-------------------------------------------*\
  Container Roadster - Size Desktop
\*-------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .roadster {
    &-container-link {
      display: flex;
      justify-content: space-evenly;
    }

    &-img {
      display: inline;
    }

    &-link {
      width: 20%;
    }
  }
}
