@mixin boxShadowOutset($param, $param2, $param3, $param4) {
  -webkit-box-shadow: 0px 0px 5px 1px rgba($param,$param2,$param3,$param4);
  -moz-box-shadow: 0px 0px 5px 1px rgba($param,$param2,$param3,$param4);
  box-shadow: 0px 0px 5px 1px rgba($param,$param2,$param3,$param4);
}

@mixin button {
  background-color: transparent;
  border: 2px solid #0000a3;
  padding: .7rem 2rem;
  color: #0000a3;
}

@mixin wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
