/*-------------------------------------------*\
  Container Header - Size Mobile
\*-------------------------------------------*/
.header {
  text-align: center;
  margin: 0 0 1rem;
  height: 100vh;

  &-image {
    width: 100vw;
    display: block;
    margin-top: 0;
  }

  &-title {
    font-size: 2.5em;
    margin: 2rem 0 ;
  }

  &-summary {
    margin: 2rem 0;

    &-question {
      margin: 0 0 1rem;
      font-size: 1.2rem;
    }

    &-text {
      line-height: 1.4rem;
      text-align: justify;
      margin: 0 2rem;
    }
  }

  &-button {
    margin-top: .5rem;
    padding: .7rem;
    background-color: rgb(0, 0, 163);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;
    border-radius: 17px;
  }
}

/*-------------------------------------------*\
  Container Header - Size tablet
\*-------------------------------------------*/
@media only screen and (min-width: 768px) {
  .header {
    font-size: 20px;
    height: 100%;

    &-image {
      width: 55%;
      display: block;
      margin: 1rem auto;
    }

    &-summary-text {
      line-height: 1.9rem;
    }

    &-button {
      font-size: 18px;
    }
  }
}

/*-------------------------------------------*\
  Container Header - Size tablet
\*-------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0;

    &-image {
      width: 45%;
      height: 50%;
      margin: 1rem;
      // transform: translateY(15%);
      animation: opacitySlideUp 2s forwards;
    }

    &-container-right {
      // transform: translateY(-25%);
      animation: opacitySlideDown 2s forwards;
      flex-direction: column;
    }
  }
}

@keyframes opacitySlideDown {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(-25%);
  }
}

@keyframes opacitySlideUp {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(15%);
  }
}
