@import 'src/styles/index';

/*-------------------------------------------*\
  Container Header - Size Mobile
\*-------------------------------------------*/
.history {
  text-align: center;
  margin: 0 auto 1rem;
  background-color: rgb(0, 0, 0);
  // background-color: rgba(22, 22, 22, .9);
  padding: 2rem 0;

  &-title {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  &-cards {
    width: 85%;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    @include boxShadowOutset(145,145,255,.78);

    &-container--infos {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1rem;
    }

    &-title {
      font-size: 1.3em;
      margin: 1rem auto;
    }

    &-date {
      font-size: .7rem;
      color: $colorBackgroundButton;
    }

    &-flight {
      font-size: .7rem;
      color:  $colorBackgroundButton;
    }

    &-details {
      text-align: justify;
      line-height: 1.3rem;
      margin-bottom: auto;
    }
    &-links {
      display: flex;
      justify-content: space-evenly;

      &-item {
        @include button;
        font-size: 13px;
        margin: 1rem 0;
        position: relative;
        text-transform: uppercase;

        & sup {
          position: absolute;
          font-size: 12px;
          top: 1px;
          right: 3px;
        }
      }
    }
  }
}

/*-------------------------------------------*\
  Container History - Size tablet
\*-------------------------------------------*/
@media only screen and (min-width: 768px) {
  .history {
    &-title {
      font-size: 2em;
      margin: 2rem 0;
    }
    &-container {
      @include wrap;
    }
    &-cards {
      width: 40%;
      margin: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

/*-------------------------------------------*\
  Container History - Size Desktop
\*-------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .history {
    &-container {
      @include wrap;
    }
    &-cards {
      width: 25%;
      margin: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

